[submodule "deps/lib_garble"]
	path = deps/lib_garble
	url = git@github.com:Interstellar-Network/lib_garble.git
[submodule "deps/protos"]
	path = deps/protos
	url = git@github.com:Interstellar-Network/protos.git
